@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #090909;
    color: white;
}

.hero {
    background: linear-gradient(135deg, #0c0c0c, #222222);
    padding: 80px 20px;
    text-align: center;
}
.hero h1 {
    font-size: 70px;
    margin-bottom: 10px;
}
.hero p {
    font-size: 22px;
    opacity: 0.7;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.music, .bio, .comments {
    background: #1a1a1a;
    border-radius: 12px;
}

.like-section{
    text-align: center;
}

#likeBtn {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: crimson;
    color: white;
    transition: 0.3s;
}
#likeBtn:hover {
    transform: scale(1.05);
    background: #ff0044;
}

.comments input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.comments button {
    padding: 10px 18px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: #0099ff;
    color: white;
}
#commentList {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}
#commentList li {
    background: #2b2b2b;
    margin: 5px 0;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
}

footer {
    text-align: center;
    opacity: 0.7;
    padding: 20px;
}
